[submodule "pack/colors/opt/nord-vim"]
	path = pack/colors/opt/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "pack/standard/start/vim-sexp"]
	path = pack/standard/start/vim-sexp
	url = https://github.com/guns/vim-sexp.git
