[submodule "pack/colors/opt/nord-vim"]
	path = pack/standard/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
	ignore = untracked
[submodule "pack/standard/start/vim-sexp"]
	path = pack/standard/start/vim-sexp
	url = https://github.com/guns/vim-sexp.git
	ignore = untracked
[submodule "pack/standard/start/vim-sexp-mappings-for-regular-people"]
	path = pack/standard/start/vim-sexp-mappings-for-regular-people
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people.git
	ignore = untracked
[submodule "pack/clojure/opt/conjure"]
	path = pack/clojure/opt/conjure
	url = https://github.com/Olical/conjure.git
[submodule "pack/standard/start/dart-vim-plugin"]
	path = pack/standard/start/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin.git
[submodule "pack/julia/opt/julia-vim"]
	path = pack/julia/opt/julia-vim
	url = https://github.com/JuliaEditorSupport/julia-vim.git
[submodule "./pack/standard/opt/coc.nvim"]
	branch = release
[submodule "pack/standard/start/nvim-treesitter"]
	path = pack/standard/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
