[submodule "pack/colors/opt/nord-vim"]
	path = pack/colors/opt/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
	ignore = untracked
[submodule "pack/standard/start/vim-sexp"]
	path = pack/standard/start/vim-sexp
	url = https://github.com/guns/vim-sexp.git
	ignore = untracked
[submodule "pack/standard/start/vim-sexp-mappings-for-regular-people"]
	path = pack/standard/start/vim-sexp-mappings-for-regular-people
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people.git
	ignore = untracked
[submodule "pack/clojure/opt/conjure"]
	path = pack/clojure/opt/conjure
	url = https://github.com/Olical/conjure.git
